.home-delivery-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
  }
  
  .shipment-box {
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    width: 800px;
  }
  
  .shipment-info {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .shipment-image img {
    width: 80px;
    height: 80px;
  }
  
  .shipment-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .item-name {
    font-weight: bold;
    flex-grow: 1; /* Take the remaining space */
    font-family: 'Roboto', sans-serif;
  }
  
  .item-price {
    font-weight: bold;
    text-align: right;
    font-family: 'Roboto', sans-serif;
  }
  
  .item-quantity {
    text-align: right;
    font-family: 'Roboto', sans-serif;
  }
  
  .item-id,
  .item-color {
    margin: 5px 0;
    opacity:0.5;
  }
  .item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .shipment{
    opacity:0.75;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  .plan-details{
    color:black;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
  }
  
