
  <div class="home-delivery-container">
    <div class="shipment-box">
        <h5 class="shipment">Shipment 1 of 2</h5>
      <div class="shipment-info">
        <div class="shipment-image">
            
          <img src="../../assets/images/sofa1.jpg" alt="sofa image">
        </div>
        <div class="shipment-details">
            <div class="item-info">
          <div class="item-name">Enderlin Chair Cahise</div>
          <div class="item-price">$499.09</div>
            </div>
          <div class="item-id">Item #: 76546</div>
          <div class="item-color">Color: Blue</div>
          <div class="item-quantity">Qty: 1</div>
        </div>
      </div>
      <div class="shipment-plan">
        <div class="plan-detailss">
          <p>5 years Furniture Protection Plan</p>
        </div>
        <a class="plan-details" href="#">Plan details</a>
      </div>
       <hr>
       <h5 class="shipment">Shipment 2 of 2</h5>
      <div class="shipment-info">
        <div class="shipment-image">
          <img src="../../assets/images/sofa2.jpg" alt="sofa image">
        </div>
        <div class="shipment-details">
            <div class="item-info">
          <div class="item-name">Aroni vanisha Chair</div>
          <div class="item-price">$299.99</div>
            </div>
          <div class="item-id">Item #: 87987</div>
          <div class="item-color">Color: Green</div>
          <div class="item-quantity">Qty: 2</div>
        </div>
      </div>
      <div class="shipment-plan">
        <div class="plan-detailss">
          <p>3 years Furniture Protection Plan</p>
        </div>
        <a class="plan-details" href="#">Plan details</a>
      </div>
    </div>
  </div>


