<div class="order-summary-box">
    <h2>Order Summary</h2>
    <div class="order-item">
      <span>Subtotal for 2 items</span>
      <span>$13456</span>
    </div>
    <div class="order-item">
      <span>Protection Plans</span>
      <span>$199</span>
    </div>
    <div class="order-item">
      <span>Furniture</span>
      <span>$120</span>
    </div>
    <div class="order-item">
      <span>Delivery</span>
      <span>$100</span>
    </div>
      <div class="order-item">
        <span>State Recycling Fee</span>
        <span>$100</span>
      </div>
    
    <div class="order-item">
      <span>Taxes</span>
      <span>$80</span>
    </div>
    <br>
    <div class="order-item">
      <span>Estimated Total</span>
      <span class="bolder">$14567</span>
    </div>
    </div>
  