<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="order-summary-box">
    <h2>Order Summary</h2>
    <div class="order-item">
      <span class="shipmentsummary">Subtotal for 2 items</span>
      <span class="shipmentsummary">$13456</span>
    </div>
    <div class="order-item">
      <span class="shipmentsummary">Protection Plans</span>
      <span class="shipmentsummary">$199</span>
    </div>
    <div class="order-item">
      <span class="shipmentsummary">Furniture</span>
      <span class="shipmentsummary">$120</span>
    </div>
    <div class="order-item">
      <span class="shipmentsummary">Delivery</span>
      <span class="shipmentsummary">$100</span>
    </div>
      <div class="order-item">
        <span class="shipmentsummary">State Recycling Fee</span>
        <span class="shipmentsummary">$100</span>
      </div>
    
    <div class="order-item">
      <span class="shipmentsummary">Taxes</span>
      <span class="shipmentsummary">$80</span>
    </div>
    <br>
    <div class="order-item">
      <span class="shipmentsummary">Estimated Total</span>
      <span class="bolder">$14567</span>
    </div>
    </div>
  
</body>
</html>
