<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="form-box" [class.active]="showForm">
    <div class="form-toggle" (click)="toggleForm()">Click Here For Order Details</div>
    <div class="form-content">
      <div class="form-field">
        <label for="orderDate">Order Date</label>
        <input formControlName="orderDate" type="date" id="orderDate" name="orderDate">
      </div>
      <div class="form-field">
        <label for="orderNumber">Order Number</label>
        <input formControlName="orderNumber" type="text" id="orderNumber" name="orderNumber">
      </div>
      <div class="form-field">
        <label for="paymentMethod">Payment Method</label>
        <input formControlName="paymentMethod" type="text" id="paymentMethod" name="paymentMethod">
      </div>
      <div class="form-field">
        <label for="billingAddress">Billing Address</label> 
        <textarea formControlName="billingAddress" id="billingAddress" name="billingAddress" rows="4"></textarea>
      </div>
    </div>
  </div>
</body>
</html>
  

